#color-settings-div {
    display: inline-flex;
    flex-direction: column;
}
#color-settings-div > div {
    display: flex;
    align-items: center;
    gap: 92px;
}

#color-settings-div > div,
#buttons-div {
    height: 30px;
}

#color-input {
    height: 25px;
    width: 25px;
}

#buttons-div {
    display: flex;
    align-items: center;
    gap: 40px;
}

.settings-buttons {
    color: var(--font-color);
    background-color: var(--color-primary-500);
    border: 1px solid var(--color-primary-500);
    border-radius: 5px;
    height: 25px;
    width: 150px;
    font-size: 100%;
    transition: 0.3s;
}

.settings-buttons:hover {
    box-shadow: 0px 0px 5px var(--color-primary-800);
    text-shadow: 2px 2px 1px var(--color-primary-800);
}

#settings-page > h2,
#settings-page > h3 {
    margin-top: 40px;
}

@media (max-width: 768px) {
    #settings-page > h2,
    #settings-page > h3 {
        text-align: center;
    }
}
