#nav-list {
    display: flex;
    flex-direction: column;
    width: 150px;
}

.nav-links {
    font-size: 125%;
    padding: 5px;
}

#lists, #settings, #about {
    display: flex;
    flex-direction: column;
    text-align: center;
}

#lists>a, #settings>a, #about>a {
    padding: 15px;
}

// List menu hidden by default
.list-menu {
    display: none;
    flex-direction: column;
}

.list-collapse {
    display: flex;
    padding: 15px;
    align-items: center;
    justify-content: center;
    border: none;
    color: var(--font-color);
    background-color: var(--color-primary-300);
}
.list-collapse.active {
    background-color: var(--color-primary-400);
}

.collapse {
    padding-left: 10%;
    background-color: var(--color-primary-400);
    display: none;
}

.nav-links:hover, .add-list-link:hover, .list-collapse:hover, 
.add-list-link:hover, .list-link-items:hover {
    outline: 1px solid red;
    cursor: pointer;
} 

.add-list-link {
    display: flex;
    justify-content: center;
    background-color: var(--color-primary-400);
    padding: 10px;
}

.add-list-link>span {
    font-size: 100%;
    float: left;
}

#list-items {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid var(--color-primary-400);
    background-color: var(--color-primary-300);
}

.list-link-items {
    display: flex;
    justify-content: center;
    padding: 10px;
}

.active-nav-links {
    background-color: var(--color-primary-400);
}

// Show list-menu if Lists is the active nav link
.active-nav-links + div {
    display: flex;
}

.active-list-link-items {
    background-color: var(--color-primary-500);
}

@media(max-width: 768px) {

    #nav-list {
        width: 100%;
    }

    .collapse {
        padding-left: 0;
    }
    
}