#nav-list {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.nav-items {
    // margin: 20px;
}

.nav-links, .list-link-items, .add-list-link {
    display: inline-block;
    transition: 0.3s;
}
.nav-links:hover, .list-link-items:hover, .add-list-link:hover {
    cursor: pointer;
} 

.nav-links {
    font-size: 125%;
    padding: 5px;
}

#lists, #settings, #about {
    display: inline-flex;
    flex-direction: column;
}

#lists>a, #settings>a, #about>a {
    padding: 15px;
}

#lists {
    box-sizing: border-box;
}

.link-collapse {
    display: flex;
    padding: 15px;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    background-color: var(--color-primary-300);
    border: none;
}
.link-collapse.active {
    background-color: var(--color-primary-400);
}

.collapse {
    display: none;
}

.add-list-link {
    margin-left: 15px;
}
.add-list-link>span {
    font-size: 100%;
    float: left;
}

#list-items {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-left: 15px;
}

.active-nav-links {
    background-color: var(--color-primary-400);
}

.active-list-link-items {
    text-decoration: underline;
}
