#nav-list {
    display: flex;
    flex-direction: column;
    width: 130px;
}

.nav-links {
    font-size: 125%;
    padding: 5px;
}

#lists, #settings, #about {
    display: flex;
    flex-direction: column;
    text-align: center;
}

#lists>a, #settings>a, #about>a {
    padding: 15px;
}

// List menu hidden by default
.list-menu {
    display: none;
}

.list-collapse {
    display: flex;
    padding: 15px;
    align-items: center;
    justify-content: center;
    border: none;
    color: var(--font-color);
    background-color: var(--color-primary-300);
}
.list-collapse.active {
    background-color: var(--color-primary-400);
}

.collapse {
    padding-left: 10%;
    background-color: var(--color-primary-400);
    display: none;
}

.nav-links:hover, .add-list-link:hover, .list-collapse:hover, 
.add-list-link:hover, .list-link-items:hover {
    text-shadow: 2px 2px 1px var(--color-primary-600);
    cursor: pointer;
} 

.add-list-link {
    display: flex;
    justify-content: center;
    background-color: var(--color-primary-300);
    padding: 10px;
}

.add-list-link>span {
    font-size: 100%;
    float: left;
}

#list-items {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid var(--color-primary-400);
    background-color: var(--color-primary-300);
}

.list-link-items {
    display: flex;
    justify-content: center;
    padding: 10px;
}

.nav-links {
    background-color: var(--color-primary-300);
    border: 1px solid var(--color-primary-300);
}

.nav-links.active-nav-links {
    background-color: var(--color-primary-400);
    border: 1px solid var(--color-primary-400);
}

// Show list-menu if Lists is the active nav link
.nav-links.active-nav-links + div {
    display: flex;
    flex-direction: column;
}

.active-list-link-items {
    background-color: var(--color-primary-500);
}

.hamburger {
    display: none;
    padding: 10px;
    cursor: pointer;
}

.bar {
    background-color: var(--font-color);
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

@media(max-width: 768px) {

    #nav-list {
        display: none;
        width: 100%;
    }

    .collapse {
        padding-left: 0;
    }
    
    .hamburger {
        display: block;
    }

    .hamburger.active {
        background-color: var(--color-primary-400);
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

}