/* 
    Meyer's Reset - modified for the requirements in this project

    http://meyerweb.com/eric/tools/css/reset/ 
    v2.0 | 20110126
    License: none (public domain)
*/
html, body, div, span, applet, object, iframe, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*
    Meyer's Reset End
*/

/*
    Universal Styling
*/
* {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

html {
    // Default Colors
    --color-primary-50: #F2F5FD;
    --color-primary-100: #E4EAFB;
    --color-primary-200: #C5D2F7;
    --color-primary-300: #9CB3F2;
    --color-primary-400: #6F90EC;
    --color-primary-500: #1D4ED8;
    --color-primary-600: #1B48C6;
    --color-primary-700: #163BA2;
    --color-primary-800: #123187;
    --color-primary-900: #0D225E;
    --font-color: white;
    // Fonts
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
	padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

/*
    Specific Styling
*/

// Header & Footer
#site-header, #site-footer {
    color: var(--font-color);
    background-color: var(--color-primary-500);
}

#site-header {
    padding: 20px;
}

#site-footer {
    padding: 20px;
    text-align: center;
}

// App Body - Contains sidebar and main content
#app-body {
    flex: 1;
    display: flex;
}

// Sidebar
#sidebar {
    width: 10vw;
    background-color: var(--color-primary-400);
}

// Nav
#nav-list {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.nav-item {
    margin: 20px;
}

.nav-link {
    display: block;
    transition: 0.3s;
}
.nav-link:hover {
    transform: scale(1.1);
    cursor: pointer;
}

#lists {
    flex: 1;
}

// Content
#content {
    flex: 1;
    background-color: var(--color-primary-200);
}

#settings-page, #about-page {
    margin: 20px;
}

#content>div>h2, #content>div>h3 {
    margin: 15px 0px;
}

// Lists
.list-elements, .todo-items {
    margin: 10px;
}

.visible-todo-elements, .collapsible-todo-elements>div {
    margin: 10px;
}

.list-elements {
    border: none;
    background-color: var(--color-primary-300);
}
.list-elements:focus {
    background-color: white;
}

#list-div, .todo-items {
    border-radius: 10px;
}

#list-div {
    display: flex;
    flex-direction: column;
    width: 60vw;
    margin: 20px 20vw 20px 10vw;
    background-color: var(--color-primary-300);
}

#list-title {
    font-size: 25px;
}

#todos {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.todo-items {
    display: flex;
    flex-direction: column;
    background-color: var(--color-primary-400);
}

.visible-todo-elements, .left-visible-elements, .right-visible-elements {
    display: flex;
    align-items: center;
} 

.visible-todo-elements {
    justify-content: space-between
}

.item-checkbox {
    height: 20px;
    width: 20px;
}

.item-names, .due-date, .created-date, .priority-input {
    border: none;
    background-color: var(--color-primary-400);
}
.item-names:focus, .due-date:focus, .created-date:focus, .priority-input:focus {
    background-color: white;
}

.priority-input {
    width: 25px;
}

.item-names {
    font-size: 110%;
}

.item-tracking-div, .deletion-div {
    display: flex;
    justify-content: space-between
}

.description-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
}

.item-description {
    flex: 1;
    background-color: var(--color-primary-200);
    border: none;
    border-radius: 5px;
    resize: none;
}

.item-description {
    
}

// Settings

#color-settings-div {
    display: inline-flex;
    flex-direction: column;
}
#color-settings-div>div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

#color-settings-div>div, #buttons-div {
    height: 30px;
}

#color-input {
    height: 25px;
    width: 25px;
}

#buttons-div {
    display: flex;
    align-items: center;
    gap: 10px;
}

.settings-buttons {
    color: var(--font-color);
    background-color: var(--color-primary-500);
    border: 1px solid var(--color-primary-500);
    border-radius: 5px;
    height: 25px;
    width: 130px;
}

// Footer
.github-link {
    color: var(--font-color);
}